@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>Products Catalog</h3>
    <img src="https://www.freeiconspng.com/uploads/catalog-icon-5.png" alt="Catalog Image" class="img-fluid" style="max-height: 300px;" />

</div>