@model CleanArch_Products.Application.DTOs.CreateCategoryDTO;
@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
    <div class="form-group">

        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Name" class="control-label">Nome</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</form>