@model CleanArch_Products.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Category Details";
}

<h2>@ViewData["Title"]</h2>

<div class="card mt-3">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">Nome</dt>
            <dd class="col-sm-9">@Model.Name</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>